{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Title}}</title>
  <link href="/static/common.css" rel="stylesheet" />
  {{ range .PageStyles}}
  <link href="{{ . }}" rel="stylesheet" />
  {{ end }}
</head>
<body>
  {{ template "content" . }}

  <script src="/static/axios.min.js"></script>
  {{ range .PageScripts }}
  <script src="{{ . }}" type="text/javascript"></script>
  {{ end }}
</body>
</html>
{{ end }}
